.team-build-card{
  width: 160px;
  height: 200px;
  background-color: rgba(255,255,255,0.1);
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1rem;
  border-top: 3px solid rgba(255,255,255,0.5);
  border-left: 2px solid rgba(255,255,255,0.4);
  border-right: 2px solid rgba(0,0,0,0.5);
  border-bottom: 2px solid rgba(0,0,0,0.7);
  position: relative;
}

.team-build-card-shader{
  width: 164px;
  height: 205px;
  position: absolute;
  z-index: 0;
  top: -3px;
  left: -2.5px;
  border-top: 3px solid rgba(255,255,255,0.5);
  border-left: 1px solid rgba(255,255,255,0.4);
  border-right: 1px solid rgba(0,0,0,0.5);
  -webkit-mask: linear-gradient(#ff0, #0000);
   mask: linear-gradient(#ff0, #1111);
}

.team-build-card:hover{
  cursor: pointer;
  border-color: rgb(255, 255, 255)
}

.image-wrapper img{
  width: 140px;
  height: 140px;
  background-color: rgba(255,255,255,0.2);
  border-top: 3px solid rgba(0,0,0,0.7);
  border-left: 2px solid rgba(0,0,0,0.5);
  border-right: 2px solid rgba(255,255,255,0.5);
  border-bottom: 2px solid rgba(255,255,255,0.3);
  position: relative;
}

.team-build-card h4{
  margin-top: 0.6em;
  text-transform: capitalize;
  position: relative;
}